<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Post Title ({{ post.title }})</h1>
<h1>Post Content ({{ post.content }})</h1>
<h1>Post User ({{ post.pub_user }})</h1>
<h1>Publish Date ({{ post.post_date }})</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'blog:addcomment' post.id %}" method="post">
{% csrf_token %}
    {{post.id}}
<input type="hidden" name="postid" value={{post.id}}>
<input type="text" name="Fname" >
<input type="text" name="Lname" >
<input type="text" name="Comment" >
<input type="text" name="Email" >
<input type="submit" value="Add Comment">

</form>
</body>
</html>