
{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

{% if latest_posts_list %}

    <ul>
    {% for post in latest_posts_list %}
        <div class="card text-center">
  <div class="card-header">
      User : {{ post.pub_user }}

  </div>
  <div class="card-body">
      <img src="{% static 'blog/moon.jpg' %}" class="img-thumbnail" alt="...">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content}}</p>
    <a class="btn btn-primary" href="/blog/{{ post.id }}/" > Show Details</a>
  </div>
  <div class="card-footer text-muted">
    Post Date : {{ post.post_date }}
  </div>
</div>


    {% endfor %}
    </ul>
{% else %}
    <p>No Posts are available.</p>
{% endif %}



{% endblock %}